/.DS_Store
/__pycache__
/surf_empty.in
/surf_matter1.in
/surf_matter2.in
/surf_matter3.in
/surf_matter4.in
/surf_matter5.in
/surf_matter6.in
/surf_matter7.in
/surf_matter8.in
/surf_matter9.in
/surf_matter_archive.in